node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Nuxt.js build / generate output
.nuxt
dist

# Coverage directory used by tools like istanbul
coverage
*.lcov

.eslintcache

# Mac system files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Jest
globalConfig.json

# IDE files
.vscode/
.idea/